%table.table
  %thead
    %tr
      %th.scope=""
      %th.scope="title"
      %th.scope="description"
      %th.scope="isbn"
      %th.scope=""
  %tbody
    %tr
      %th.scope=""
      %td
        = @me.name
      %td
        = @me.status
      %td
        = @me.email
